In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import os
uri = os.environ.get('MONGO_URI')

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
import pandas as pd
import pymongo

In [3]:
# Replace <connection_string> with the actual connection string provided by MongoDB Atlas
client = pymongo.MongoClient(uri)
db = client[os.environ.get('DATABASE')]
collection = db[os.environ.get('COLLECTION')]

In [5]:
df = pd.read_csv("../restaurant_data.csv")
df = df[:10]

In [6]:
csv_data = df.to_dict("records")

In [7]:
df.head()

,Restaurant Name,Location,Cuisine,Secondary Cuisine,Price Range,Dish,Price
0,Flavors,Chennai,Hyderabadi,Mughlai,₹500-₹1000,Dhokla,127
1,Flavors,Mumbai,Gujarati,Chaat,₹300-₹700,Sambar Vada,159
2,Dosa,Pune,Street Food,Awadhi,₹700-₹1500,Biryani,1577
3,Spice I,Chennai,South Indian,Tandoori,₹300-₹700,Chicken Tikka,1485
4,Relish R,Bengaluru,Mughlai,Mughlai,₹200-₹500,Haleem,328

In [8]:
collection.insert_many(csv_data)

InsertManyResult([ObjectId('660af97bfcdf64a77f9d6370'), ObjectId('660af97bfcdf64a77f9d6371'), ObjectId('660af97bfcdf64a77f9d6372'), ObjectId('660af97bfcdf64a77f9d6373'), ObjectId('660af97bfcdf64a77f9d6374'), ObjectId('660af97bfcdf64a77f9d6375'), ObjectId('660af97bfcdf64a77f9d6376'), ObjectId('660af97bfcdf64a77f9d6377'), ObjectId('660af97bfcdf64a77f9d6378'), ObjectId('660af97bfcdf64a77f9d6379')], acknowledged=True)